<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %> </title>
</head>
<body>
    <%- include('../partials/nav') %>
    <table id="list">
        <thead>
          <tr>
            <th>Story Title</th>
            <th>Story Description</th>
            <th>Status</th>
            <th>Edit</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <%= storyList %>
          <% storyList.forEach(p => { %>
            <tr>
            <td><%=p.title%></td>
            <td><%=p.description %></td>
            <td><%=p.status%></td>
            <td><a href="/stories/<%=p._id %>/edit">Edit</a></td>
            </tr>
          <% }) %> 
          </tbody>
        </table>

    <p>Page for the all User stories to show up for the user</p>
    <a href="/stories/new">Add a new story!</a>
</body>
</html>