<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Project Details</title>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script defer src="/public/javascripts/app.js"></script>
</head>
<body>

<section class="add-story">
    <h2>Edit This Story</h2>
    <%- include('../partials/nav') %>
        <form action='/stories/<%=storyId%>?_method=PUT' method="POST">
            <label>Story Name</label>
            <input type="text" name="title" value="<%= storyTitle%>">
            <label>Story Description</label>
            <input type="text" name="description" value="<%= storyDescription%>">
            <label>Story Status</label>
            <select class=".input-field" name="status">
              <option value="Open" selected>Open</option>
              <option value="In-progress">In-progress</option>
              <option value="Completed">Completed</option>
              <option value="Deployed">Deployed</option>
              <option value="UAT">UAT</option>
            </select>
            <input type="submit"value="Edit Story">
        </form>
</section>
<section class="delete">
  <td><form action="/stories/<%=storyId%>?_method=DELETE" method="POST">
    <button type="submit">DELETE STORY</button>
  </form></td>
</section>
</body>
</html>